*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  background: url('../../images/bg/ascii-xploit-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
  background-color: #007bff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover{
  background-color: #f0f0f0;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
.bottom-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #007bff;
    color: #000000;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.bottom-banner a {
    color: #000000;
    text-decoration: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}

/* The overlay box */
.overlay-box {
  display: flex;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent black background */
  color: white;
  border-radius: 8px; /* Optional: rounded corners */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: adds a shadow for better visibility */
  z-index: 1000;
}

/* Optional: Styling for the text inside the box */
.overlay-box p {
  margin: 0;
  font-size: 1.2em;
  color:#000000;
}
.overlay-box h2 {
  margin: 0;
  font-size: 1.2em;
  color:#000000;
}