*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  background: url('../../images/bg/unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 70px; /* Adjust based on the height of your nav buttons */
}
nav{
  background-color: #868e96;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover{
  background-color: #868e96;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: sticky;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: #868e96;
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
.bottom-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #868e96;
    color: #000000;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    z-index: 1000;
    visibility: visible;
}
.bottom-banner a {
    color: #000000;
    text-decoration: none;
}

@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}


/* Content Boxes */
.content-box {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(30, 255, 0, 0.911);
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.content-box p {
  text-align: center;
}

.content-box ul{
  text-align: center;
}

.content-box h1 {
  text-align: center;
}

.content-box h1 {
  text-align: center;
}

.content-box h2 {
  text-align: center;
}

.content-box h3 {
  text-align: center;
}

.content-box .grid-item {
  text-align: center;
}

/* Container for the navigation buttons */
.nav-buttons-projects {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 50px; /* Adjust this value to set distance from bottom */
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 1000; /* Ensures buttons stay on top of other content */
}

/* Individual button styling */
.nav-button-projects {
  padding: 10px 10px;
  background-color: #868e96;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(30, 255, 0, 0.911);
}

.horizontal-buttons-projects {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 25px;
  align-items: center;
}

.horizontal-button-projects {
  padding: 10px 10px;
  color: rgb(0, 0, 0);
  background-color: #868e96;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(30, 255, 0, 0.911);
}
